.line { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

#GO{
    top:-10px;
    left:00px;
}

a.disabled, a.disabled:hover, a.disabled:active {
    background-color: #008cba;
}

h1{
    display:inline-block;

}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

path.domain {
    fill: none;
}

.sidebar{
    background: #fafafa;
    padding: 32px 20px;
}

.row{
    max-width: 80rem;
    left:0;
    right:0;
    position:absolute;
}

.columns {
    height:100%;
    position:relative;
}

.scroll {
    height:100%;
    position:relative;
    overflow-y: auto;
}

.istop{
    top:10px;
    height:90px;
    position:absolute;
}

.isbot{
    top:90px;
    bottom:0px;
}
